@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    
}

body{
    width:100%; 
   font-family: Bangers;
   background-color: whitesmoke;
   /* text-align: center; */
   margin: auto;
   height: 100%;
   overflow: hidden;
}
/* main{
    overflow: hidden;
} */
