/* desktop */
@media (min-width:1025px){
main{
    height: 80%;
    margin-left: 15%;
}
.con{
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px ;
    grid-template-rows:100px 200px 250px 150px  ;

}
.a{
    grid-column:span 5;
    grid-row: span 1;
    
}
.b{
    grid-column:span 1 ;
    grid-row: span 4;
  
}
.c{
grid-column:span 2;
    grid-row: span 1;
    
}
.d{
grid-column:span 2;
    grid-row: span 1;
    
}
.e,.f,.g,.h{
grid-column:span 1;
    grid-row: span 1;

}

.i{
   grid-column:span 4;
    grid-row: span 1;
    
}
}

/* mobail */
@media (max-width:767px){

.con{
    display: grid;
    grid-template-columns: 240px 240px ;
    grid-template-rows:75px 150px 125px 125px 250px 50px ;

}
.a{
    grid-column:span 2;
    grid-row: span 1;
    
}
.b{
    grid-column:span 2 ;
    grid-row: span 1;
 
}
.c{
grid-column:span 2;
    grid-row: span 1;
  
}
.d{
grid-column:span 2;
    grid-row: span 1;
   
}
.e,.f,.g,.h{
grid-column:span 1;
    grid-row: span 1;

}

.i{
   grid-column:span 2;
    grid-row: span 1;
  
}
}
/* iPad */
@media (min-width: 768px) 
  and (max-width: 1024px) {
.con{
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px ;
    grid-template-rows:100px 200px 250px 150px  ;

}
.a{
    grid-column:span 5;
    grid-row: span 1;
    
}
.b{
    grid-column:span 1 ;
    grid-row: span 4;
   
}
.c{
grid-column:span 2;
    grid-row: span 1;
  
}
.d{
grid-column:span 2;
    grid-row: span 1;
   
}
.e,.f,.g,.h{
grid-column:span 1;
    grid-row: span 1;

}

.i{
   grid-column:span 4;
    grid-row: span 1;
   
}
}