
  .a{
    background-color: rgba(225, 0, 255, 0.376);
  }
  .b {
    background-color: rgb(0, 234, 255);
  }
  .c {
    background-color: rgb(255, 0, 119);
  }
  .d {
    background-color: rgb(0, 0, 0);
  }
  .e {
    background-color: red;
  }
  .f {
    background-color: rgb(39, 173, 61);
  }

  .g {
    background-color: rgb(216, 199, 142);
  }
  .h {
    background-color: rgb(227, 228, 235);
  }
.i{
    background-color: tomato;
}
